.flex-div{
    display: flex;
    justify-content: space-around;
    

}
body{
    width: 100%;
    height: 100vh;
    background:linear-gradient(green,pink);
}
.flex-div-main h1{
    font-size: 1.5rem;
    animation: floatImage 4s ease-in-out infinite;
  }
  @keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2rem);
    }
    100%{
        transform: translateY(0);
    }
}
.flex-div-main{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

}

.flex-div----main{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:0.5rem;
    flex-direction: column;
    
    margin-top: 2rem;
    
    
    
    

}

.div-flex{
    width: 8rem;
    height: 8rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1{
    font-size: 3rem;
    font-weight: bold;
}
.flex-div---main{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
   

}
.flex-div--main{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap:2rem;

}


.btnn{
    width: 7rem;
    height: 3rem; 
    color: white;
    font-size: 1rem;
    cursor: pointer;
    background:linear-gradient(blue,skyblue);
    border: 1px solid black;
   
}
.btnn:hover,.btnn:active{
    font-size: 1.5rem;
    color: black;
    background-color: aquamarine;
    

}
.box p{
    font-weight: bold;
}
@media(max-width: 493px) {
    .flex-div--main h2{
        font-size: 1rem;
    }
      
    }
@media(max-width: 330px) {
.flex-div{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
}
@media(max-width: 285px) {
    .flex-div-main h1{
      font-size: 1.5rem;
    }
      
    }
